/* Grid das img */
.novos-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

/* Linha de cima centralizada */
.linha-superior {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}
/* Linha de baixo com largura fixa para servir de base */
.linha-inferior {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  max-width: 60rem;
}

/* Estrutura base */
.item-box.destaque {
  width: 32rem;
  height: 12rem;
  position: relative;
}

/* Imagem */
.item-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.item-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.562);
  transition: opacity 0.3s ease;
  z-index: 1;
}

.item-box:hover .img-overlay {
  opacity: 0;
}

.item-label {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  z-index: 2;
  text-shadow: 0 0 2rem #000;
}

/* Barrinha inferior */
.item-bar {
  height: 0.5rem;
  width: 100%;
  margin-top: 0;
}

/* Tamanhos */
.item-box.destaque {
  width: 35rem;
  height: 15rem;
}
.item-box.destaque:hover{
      flex-basis: 38%;
}
.item-box.medio {
  width: 12rem;
  height: 17rem;
}
.item-box.medio:hover{
      flex-basis: 13%;
}
.item-box.mediano{
 width: 10rem;
  height: 18rem;
}
.item-box.mediano:hover{
      flex-basis: 10%;
}
.item-box.pequeno {
  width: 8rem;
  height: 15rem;
}
.item-box.pequeno:hover{
      flex-basis: 18%;
}
/* Cores das barrinhas */
.gold {
  background-color: #AB5E10;
}

.purple {
  background-color: #972E9C;
}

.green {
  background-color: #3A9935;
}