.info-center-bg {
  background-color: white;
  color: #00131F;
}

.page-wrapper {
  margin-left: 15rem;
}

.info-container {
  display: flex;
  padding: 5%;
  padding-top: 4rem;
  gap: 4rem;
}

/* Sidebar */
.info-sidebar {
  width: 15rem;
  position: sticky;
  top: 5rem;
  height: fit-content;
}

.info-sidebar ul {
  list-style: none;
  padding: 0;
}

.info-sidebar ul li {
  margin: 1.2rem 0;
  cursor: pointer;
  font-weight: 400;
  color: #333;
  transition: all 0.2s ease;
}

.info-sidebar ul li:hover {
  color: #FB3F3A;
}

.info-sidebar ul .active-link {
  font-weight: 700;
  color: #FB3F3A;
}

/* Conteúdo */
.info-content {
  max-width: 45rem;
  line-height: 1.7;
  font-size: 1rem;
  padding-bottom: 6rem;
}

.info-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.info-text p,
.info-text ul {
  margin-bottom: 1rem;
}

.info-text ul {
  padding-left: 1.5rem;
}

.updated {
  font-size: 0.85rem;
  color: #969696;
  margin-top: 3rem;
}
