.calendario-container {
  background-color: rgba(10, 25, 47, 0.62);
  backdrop-filter: blur(70px);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-left: 3rem;
  max-width: 35rem;
}

.react-calendar {
  width: 100%;
  border: none;
  background: transparent;
}

/* Cabeçalho */
.react-calendar__navigation {
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  color: rgb(255, 255, 255);
  background: none;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 500;
}

/* Dias da semana */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #ccc;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

/* Dias */
.react-calendar__tile {
  padding: 1rem 0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  transition: background 0.2s ease;
}

/* Sábado = 6, Domingo = 0 */
.react-calendar__month-view__days__day--0,
.react-calendar__month-view__days__day--6 {
  color: #42a5f5;
}

/* Hoje */
.react-calendar__tile--now {
  background: rgba(255, 255, 255, 0.1);
  font-weight: 400;
}

/* Data selecionada */
.react-calendar__tile--active {
  background: #ff5c4d !important;
  color: white !important;
  font-weight: 600;
}

/* Hover */
.react-calendar__tile:hover {
  background: rgba(10, 25, 47, 0.8);
}

/* Desabilitado */
.react-calendar__tile:disabled {
  color: #666;
  background: none;
}
.react-calendar__month-view__days__day--0 {
  color: #666 !important;
  pointer-events: none;
  opacity: 0.4;
}