.header-container {
  padding: 1rem 2rem;
  color: #fff;
}

.header-title {
  font-size: 2rem;
  margin: 0;
}

.header-subtitle {
  font-size: 1rem;
  color: #000000;
  margin-top: 0.25rem;
}

.home-logo{
  width: 5vh;
  height: auto;
  display: flex;
  align-items: flex-start;
}
