.pagina-doacao {
  display: flex;
  min-height: 100vh;
  background-image: url('../../assets/doeBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  width: 220px;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.conteudo {
  flex: 1;
  padding: 2rem;
}

.doacao-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.esquerda,
.direita {
  flex: 1;
  min-width: 300px;
}