.footer {
  color: #f0f0f0;
 background-color: #073954;
  padding: 6rem 2rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem; /* ou o valor que preferir */
  max-width: 75rem;
  margin: 0 auto;
}

.footer-vector {
  width: 100%;
  height: 15rem;
  display: block;
}


/* Parte 8 do site - Dimensões */
.footer-brand {
  min-width: 250px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}


.footer-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-container-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo {
  width: 3.5rem;
  height: auto;
  margin-bottom: -0.2rem;
}

.footer-text {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.blood-red {
  color: #FB3F3A;
}

.link-highlight {
  color: rgb(255, 255, 255);
}

.footer-description {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.5;
  max-width: 300px;
  margin-top: 1rem;
}


/* Parte 8 do site - Colunas*/


.footer-column {
  min-width: 2rem;
}

.footer-column h4 {
  font-size: 1.10rem;
  margin-bottom: 2rem;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 1rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #FB3F3A;
}

/* Parte 8 do site - Rodapé Final*/
.footer hr {
  margin: 2rem;
  width: 90%;
  border: none;
  height: 0.10rem;
  background: linear-gradient(to right, #1c3a4f, #386381, #1c3a4f);
}

.footer-bottom {
  text-align: center;
  font-size: 0.85rem;
  color: #aaa;
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  .footer-container {
    gap: 3rem;
    padding: 0 1rem;
  }

  .footer-content {
    gap: 2rem;
    justify-content: flex-start;
  }

  .footer-description {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-brand,
  .footer-content,
  .footer-column {
    text-align: center;
    width: 100%;
  }

  .footer-column {
    margin-bottom: 2rem;
  }

  .footer-column ul li a {
    font-size: 1rem;
  }

  .footer-description {
    font-size: 1rem;
  }

  .footer-logo {
    width: 3rem;
  }

  .footer-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 4rem 1rem;
  }

  .footer-logo {
    width: 2.8rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }

  .footer-column h4 {
    font-size: 1rem;
  }

  .footer-column ul li a {
    font-size: 0.9rem;
  }

  .footer-description {
    font-size: 0.9rem;
  }

  .footer hr {
    margin: 2rem auto;
  }
}
