.header-title {
  position: relative;
  background-color: #ff4d3c;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  width: auto;
  font-size: 1.1rem;
  border-radius: 0 0 0 0;
}

/* Criando a pontinha triangular */
.header-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-top: 10px solid #ff4d3c;
}

