.SettingsBg {
  background-color: #fff;
  min-height: 100vh;
  padding: 1rem 0;
  color: #000;
}

.Setting-Content {
  margin-top: 5rem;    
  margin-left: 25rem;     
  padding-right: 4rem;

}
/*Título*/
.settings-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}
/*Linha*/
.settings-section {
  border-bottom: 0.1rem solid #c2c2c2;
  padding: 2.5rem 0;
}
/*Distâncias*/
.settings-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: default;
}
/*Icons*/
.settings-icon {
  font-size: 1.2rem;
  color: #000000;
}

.settings-text {
  font-weight: 600;
  font-size: 1rem;
  user-select: none;
}
/*Textinho*/
.settings-small-text {
  margin-top: 1rem;
  font-size: 0.85rem;
    color: #3c3c43;
  cursor: pointer;
  max-width: 90%;
}

/*Textinho expandido*/
.settings-expanded-content {
  margin-top: 1.2rem;
  margin-left: 2rem;
  font-size: 0.9rem;
  color: #757575;
  line-height: 1.4;
  position: relative;
  transition: color 0.3s ease;
  
}

/* Linha que aparece e cresce no hover */
.settings-expanded-content::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  height: 0.15rem;
  width: 0;
  background-color: #e53935; /* vermelho */
  transition: width 0.3s ease;
}

.settings-expanded-content:hover {
  color: #e53935;
}

.settings-expanded-content:hover::after {
  width: 1%;
}

.settings-expanded-content.open {
  max-height: 20rem;
  opacity: 1;
}

.settings-expanded-content.closed {
  max-height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}
a{
    color: inherit;
  text-decoration: none; 
}
.settings-static {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #000000;
  user-select: none;
}

.user-logo-settings {
  width: 3rem;
  height:3rem;
  object-fit: contain;
}

/*Botão Sair*/
.logout-btn {
  margin-top: 2rem;
  background: transparent;
  color: #ff3b30;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  padding: 12px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: font-weight 0.2s ease, color 0.2s ease;
  text-align: left;
  width: fit-content;
}
.logout-btn:hover {
  font-weight: 600;
  color: #d92a1e;
}
