/* Estilos gerais */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: aqua;
}

/* Cabeçalho */
/* header {
    padding: 30px;
    background-color: #555;
    height: 40px;
} */

header svg {
    font-size: 40px;
}

/* Sidebar */
.sidenav {
    width: 240px;
    background-color: #0f2c44;
    position: fixed;
    z-index: 100;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    border-radius: 0 24px 0 0;
}

.sidenav.active {
  left: 0;
}
  
/* Menu moderno */
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 30px;
}

.nav-item {
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s all ease-in-out;
    font-size: 16px;
}

.nav-item:hover,
.nav-item.active {
    background-color: #255d8b;
    color: #00aeff;
    font-weight: 500;
    transform: scale(1.05);
}

.nav-item.red {
    color: #FF4C4C;
}

hr {
    border: none;
    height: 2px;
    background-color: #cccccc1f;
    margin: 10px 0;
}

.profile-card {
  background: linear-gradient(80deg, #113a5ca8, rgba(62, 107, 158, 0.41) 35%, #27dbff6b 100%);
  border-radius: 0 24px 0 0;
  padding: 24px 10px 10px;
  text-align: center;
}

.perfil {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.username {
  font-weight: 700;
  font-size: 14px;
}

.bio {
  font-size: 10px;
  color: #bbb;
}

.level-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.level,
.level-percent {
  font-size: 10px;
  font-weight: 600;
}

.xp-bar {
  height: 6px;
  background-color: #2a2d3198;
  border-radius: 4px;
  margin: 6px 10px;
}

.xp-fill {
  height: 100%;
  width: 75%;
  background-color: #2EA9FF;
  border-radius: 4px;
}

.streak {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 700;
}

.sidenav-close {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 16px;
}