.history-container {
  padding: 2rem 2rem;
  border-radius: 1rem;
  background-color: #0000001e;
  backdrop-filter: blur(70px);
  font-family: 'Poppins', sans-serif;
}

.history-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: black;
}
.header-subtitle-history{
  font-size: 1rem;
  color: #000000;
  margin-bottom: 4rem;
}
.header-title-history{
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}
.history-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b2c731e;
  backdrop-filter: blur(70px);
  padding: 1rem;
  border-radius: 0.75rem;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

.history-card .left-info {
  display: flex;
  align-items: flex-start;
  gap: 0.70rem;
}

.dot {
  font-size: 1.25rem;
  margin-top: 4px;
}

.dot.marcada {
  color: black;
}

.dot.concluida {
  color: red;
}

.dot.nao-concluida {
  color: black;
}

.text p {
  margin: 0;
}

.reason {
  font-size: 0.85rem;
  opacity: 0.8;
}

.right-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.center-name {
  font-weight: 400;
}

.cancel-btn {
  background-color: #FB3F3A;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.qr-icon {
  font-size: 1.5rem;
}
